# Code

## Data

In [3]:
from io import BytesIO
from urllib.request import urlopen
from zipfile import ZipFile

def get_data():
    zipurl = "https://storage.googleapis.com/kaggle-data-sets/4938872/8314071/compressed/merged_raw_dataset.parquet.zip?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240504%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240504T162029Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=72ea2bd1731ef65b14cbdb061b14c69b49e675b49d7e60955b557cc6d1ae721548568fec0e597634632742bc68ad99d2a791079a083870907bd1517a8709a5d6707cfb979c5f64876876d7fc401b14d6f3f5f79d287ce4598f761027ba31245203338aeab54de7093b2f4281d32f69d8fbf208b61f680fd2725c2dc2f8716f8a2f9bddfb456bbe79cc27ca347cb2565cb98fd4f05939233c89f4d696dc824802e891a2ebf7160095bc8218d79004874a496b7f1345f682ed05901db0ee6b81703535427f84ef3665bf019cfa68e1ce05fde25834907bc64d3777a25d7d5ce6c4283b8525ee505c38ecf04c25edfa1cbd1c0a6657ff326cdab58d965cf277d760"
    with urlopen(zipurl) as zipresp:
        with ZipFile(BytesIO(zipresp.read())) as zfile:
            zfile.extractall('./')

In [6]:
get_data()

In [8]:
import pandas as pd
import numpy as np

In [11]:
stocknet_df = pd.read_parquet("merged_raw_dataset.parquet")
stocknet_df.head()

                  XOM                                                        \
                 Open       High        Low      Close  Adj Close    Volume
Date
2012-09-04  87.330002  87.459999  86.519997  87.120003  74.408150  10602900
2012-09-05  87.519997  87.650002  87.059998  87.330002  74.587517  10113100
2012-09-06  87.889999  89.250000  87.849998  88.989998  76.005302  15713500
2012-09-07  89.269997  90.000000  89.269997  89.919998  76.799614  15623900
2012-09-10  89.820000  90.000000  89.400002  89.480003  76.423813  10750700

                  AEP                                   ...        NGG  \
                 Open       High        Low      Close  ...        Low
Date                                                    ...
2012-09-04  43.000000  43.250000  42.830002  43.139999  ...  59.388645
2012-09-05  43.349998  43.349998  42.919998  42.950001  ...  59.868996
2012-09-06  43.150002  43.580002  43.029999  43.520000  ...  60.414848
2012-09-07  43.549999  43.669998  43.369999  43.459999  ...  60.316593
2012-09-10  43.689999  43.689999  43.380001  43.389999  ...  59.454147

                                                 UN                        \
                Close  Adj Close  Volume       Open       High        Low
Date
2012-09-04  59.847160  47.161697  239300  34.990002  35.029999  34.799999
2012-09-05  60.163757  47.411182  283100  35.180000  35.180000  34.869999
2012-09-06  60.796944  47.910160  337200  35.200001  35.740002  35.200001
2012-09-07  60.556770  47.720898  204700  35.619999  35.700001  35.480000
2012-09-10  59.454147  46.851994  390300  34.880001  35.070000  34.880001


                Close  Adj Close   Volume
Date
2012-09-04  34.910000  29.580452  1138300
2012-09-05  34.930000  29.597395  1213200
2012-09-06  35.669998  30.224426  2269400
2012-09-07  35.520000  30.097328  2945600
2012-09-10  34.950001  29.614346  2224500

[5 rows x 528 columns]

In [12]:
def compute_diff_ts(stocknet_df: pd.DataFrame) -> pd.DataFrame :
    volume = stocknet_df.loc[:, (slice(None), "Volume")]
    stocknet_diff = stocknet_df.diff()[1:]
    stocknet_diff.loc[:, (slice(None), "Volume")] = volume[1:]
    return stocknet_diff

stocknet_diff = compute_diff_ts(stocknet_df)

In [128]:
stocknet_diff.columns.get_level_values(0),stocknet_diff.columns.get_level_values(1)

(Index(['XOM', 'XOM', 'XOM', 'XOM', 'XOM', 'XOM', 'AEP', 'AEP', 'AEP', 'AEP',
        ...
        'NGG', 'NGG', 'NGG', 'NGG', 'UN', 'UN', 'UN', 'UN', 'UN', 'UN'],
       dtype='object', length=528),
 Index(['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'Open', 'High',
        'Low', 'Close',
        ...
        'Low', 'Close', 'Adj Close', 'Volume', 'Open', 'High', 'Low', 'Close',
        'Adj Close', 'Volume'],
       dtype='object', length=528))

In [149]:
def minmax_bound_scaler(df,lower=.1,upper=.9):
    lower=0.1
    upper=0.9
    df = lower+(lower+1-upper)*(df-df.min())/(df.max()-df.min())
    assert df.min().min()>=lower, "Something bad happened! Data below range"
    assert df.max().max()<=upper, "Something bad happened! Data above range"
    return df

In [152]:
stocknet_diff = minmax_bound_scaler(stocknet_diff)

In [162]:
from datetime import date
import holidays

# Select country
us_holidays = holidays.US()

In [191]:
nans_per_stock = stocknet_diff.isnull().any(axis=0).groupby(level=0).sum()

In [210]:
print("These are the stocks that contain nans, and how many we found per stock")
nanstocks = nans_per_stock.sort_values(ascending=False)[nans_per_stock.sort_values(ascending=False)>0]
nanstocks

These are the stocks that contain nans, and how many we found per stock

REX     6
GMRE    6
ABBV    6
AGFS    6
SNP     6
BABA    6
PTR     6
dtype: int64

In [244]:
nanmatrix = stocknet_diff[nanstocks.keys()][stocknet_diff.isnull().any(axis='columns')]
nanmatrix

                 REX                                                   GMRE  \
                Open      High       Low     Close Adj Close    Volume Open
Date
2012-09-05  0.217297  0.166782  0.196118  0.195865  0.195865  0.108362  NaN
2012-09-06  0.215892  0.161439  0.196941  0.200376  0.200376  0.102230  NaN
2012-09-07  0.216649  0.167299  0.196588  0.199342  0.199342  0.101617  NaN
2012-09-10  0.218054  0.161784  0.196000  0.191447  0.191447  0.103958  NaN
2012-09-11  0.209838  0.161698  0.193059  0.194925  0.194925  0.104293  NaN
...              ...       ...       ...       ...       ...       ...  ...
2016-06-24  0.194919  0.148255  0.172235  0.178477  0.178477  0.140669  NaN
2016-06-27  0.218811  0.159802  0.182588  0.177538  0.177538  0.124362  NaN
2016-06-28  0.206811  0.159716  0.203176  0.205733  0.205733  0.118760  NaN
2016-06-29       NaN       NaN       NaN       NaN       NaN       NaN  NaN
2016-06-30       NaN       NaN       NaN       NaN       NaN  0.116864  NaN

                           ...      BABA                                \
           High Low Close  ...       Low     Close Adj Close    Volume
Date                       ...
2012-09-05  NaN NaN   NaN  ...       NaN       NaN       NaN       NaN
2012-09-06  NaN NaN   NaN  ...       NaN       NaN       NaN       NaN
2012-09-07  NaN NaN   NaN  ...       NaN       NaN       NaN       NaN
2012-09-10  NaN NaN   NaN  ...       NaN       NaN       NaN       NaN
2012-09-11  NaN NaN   NaN  ...       NaN       NaN       NaN       NaN
...         ...  ..   ...  ...       ...       ...       ...       ...
2016-06-24  NaN NaN   NaN  ...  0.167905  0.145699  0.145699  0.110779
2016-06-27  NaN NaN   NaN  ...  0.177102  0.151934  0.151934  0.108471
2016-06-28  NaN NaN   NaN  ...  0.217325  0.184373  0.184373  0.105588
2016-06-29  NaN NaN   NaN  ...  0.209893  0.182084  0.182084  0.105733
2016-06-30  NaN NaN   NaN  ...  0.209707  0.179953  0.179953  0.106497

                 PTR
                Open      High       Low     Close Adj Close    Volume
Date
2012-09-05  0.185312  0.161697  0.182298  0.180501  0.176945  0.130524
2012-09-06  0.193092  0.196679  0.218944  0.215547  0.210443  0.128327
2012-09-07  0.240443  0.208487  0.241460  0.210145  0.205280  0.140060
2012-09-10  0.203420  0.183690  0.192236  0.179183  0.175686  0.130186
2012-09-11  0.205701  0.182805  0.228727  0.225955  0.220392  0.138408
...              ...       ...       ...       ...       ...       ...
2016-06-24  0.141315  0.118007  0.125776  0.114097  0.104693  0.135123
2016-06-27  0.179276  0.138819  0.169255  0.166271  0.160568  0.124254
2016-06-28  0.208652  0.195793  0.229037  0.216074  0.213905  0.116595
2016-06-29       NaN       NaN       NaN       NaN       NaN       NaN
2016-06-30       NaN       NaN       NaN       NaN       NaN  0.127483

[961 rows x 42 columns]

In [256]:
def check_nans(stocknet_diff: pd.DataFrame):
    nans_per_stock = stocknet_diff.isnull().any(axis=0).groupby(level=0).sum()
    nanstocks = nans_per_stock.sort_values(ascending=False)[nans_per_stock.sort_values(ascending=False)>0]
    nanmatrix = stocknet_diff[nanstocks.keys()][stocknet_diff.isnull().any(axis='columns')]
    print(f"The nans are distributed over 6 stocks, affecting {nanmatrix.shape[0]} rows and {nanmatrix.shape[1]} columns, therefore it is advised to drop the {'columns' if nanmatrix.shape[0]>nanmatrix.shape[0] else 'columns'}")

The nans are distributed over 6 stocks, affecting 961 rows and 42 columns, therefore it is advised to drop the columns

In [262]:
print(np.array(stocknet_diff.dropna(axis=1).shape) - stocknet_diff.shape)
stocknet_diff = stocknet_diff.dropna(axis=1)

[  0 -42]

In [265]:
stocknet_diff

                 XOM                                                    \
                Open      High       Low     Close Adj Close    Volume
Date
2012-09-05  0.230977  0.200000  0.229211  0.210244  0.207508  0.129380
2012-09-06  0.234719  0.238108  0.234542  0.245610  0.240483  0.157003
2012-09-07  0.255717  0.215135  0.247974  0.227805  0.223882  0.156561
2012-09-10  0.238462  0.194865  0.220469  0.194390  0.192726  0.132525
2012-09-11  0.225572  0.193513  0.220896  0.208536  0.205916  0.125613
...              ...       ...       ...       ...       ...       ...
2017-08-28  0.234096  0.189730  0.214073  0.199024  0.196076  0.120090
2017-08-29  0.212682  0.182703  0.213859  0.204634  0.202200  0.114323
2017-08-30  0.227651  0.193784  0.217271  0.196585  0.193413  0.120032
2017-08-31  0.227651  0.195946  0.217484  0.210732  0.208857  0.156649
2017-09-01  0.229106  0.204595  0.223454  0.210975  0.209123  0.115706

                 AEP                                ...       NGG            \
                Open      High       Low     Close  ...       Low     Close
Date                                                ...
2012-09-05  0.209677  0.218681  0.215676  0.225657  ...  0.230242  0.228490
2012-09-06  0.189964  0.224396  0.216216  0.256364  ...  0.231700  0.235053
2012-09-07  0.211469  0.218242  0.222432  0.230909  ...  0.217360  0.216949
2012-09-10  0.202151  0.215165  0.213514  0.230505  ...  0.200346  0.199071
2012-09-11  0.191039  0.208132  0.213243  0.234950  ...  0.214200  0.224190
...              ...       ...       ...       ...  ...       ...       ...
2017-08-28  0.198566  0.229231  0.218108  0.254747  ...  0.226895  0.225037
2017-08-29  0.211828  0.222198  0.219460  0.226869  ...  0.211309  0.214672
2017-08-30  0.189964  0.202857  0.210270  0.225657  ...  0.217544  0.221720
2017-08-31  0.193907  0.210769  0.210811  0.228485  ...  0.227562  0.234779
2017-09-01  0.196057  0.214286  0.203784  0.229697  ...  0.225781  0.220684

                                      UN                                \
           Adj Close    Volume      Open      High       Low     Close
Date
2012-09-05  0.231741  0.113655  0.173067  0.153626  0.171162  0.173156
2012-09-06  0.237243  0.117469  0.168533  0.162637  0.178623  0.187316
2012-09-07  0.222064  0.108128  0.179200  0.149451  0.177188  0.169813
2012-09-10  0.207074  0.121212  0.148267  0.136484  0.151937  0.161554
2012-09-11  0.228135  0.130327  0.176800  0.160440  0.177188  0.181023
...              ...       ...       ...       ...       ...       ...
2017-08-28  0.229546  0.115072  0.182400  0.156923  0.183788  0.176696
2017-08-29  0.218519  0.119612  0.164267  0.150330  0.168006  0.173156
2017-08-30  0.226018  0.120754  0.161867  0.142198  0.154520  0.163520
2017-08-31  0.239912  0.119788  0.164800  0.155385  0.174605  0.182203
2017-09-01  0.224915  0.118582  0.184533  0.154505  0.178049  0.173550


           Adj Close    Volume
Date
2012-09-05  0.173101  0.104209
2012-09-06  0.185273  0.109228
2012-09-07  0.170227  0.112441
2012-09-10  0.163127  0.109014
2012-09-11  0.179863  0.114450
...              ...       ...
2017-08-28  0.176753  0.103178
2017-08-29  0.173162  0.103305
2017-08-30  0.163386  0.105058
2017-08-31  0.182340  0.104443
2017-09-01  0.173561  0.103401

[1257 rows x 486 columns]

In [267]:
stocknet_diff.to_parquet("merged_filtered_minmax_bound.parquet")